<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TreeHole</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="../web2/css/buttons.css"/>;
    <style type="text/css">
        @import url("main css.css");
    </style>

</head>

<body>

<div id="app1">
    {{ message }}
    <br>
</div>

<div id="app2">
    <ul>
        <li v-for="todo in todos">
            {{ todo.text }}
            <br>
            <counter1></counter1>&nbsp;&nbsp;&nbsp;
            <counter2></counter2>
            <br><br>
        </li>
    </ul>
    <p style="white-space: pre-line;"></p>
    <br>
    <label class="field field_type2">
        <input class="field__input" placeholder="默认为Nameless" v-model="message2" style="width: 200px;height: 30px;margin: 0px 0px 0px 10px">
        <span class="field__label">你的名字？</span>
        <span class="field__line"></span>
    </label>
    <br><br>
    <label class="field field_type1">
        <input class="field__input" placeholder="hi~" v-model="message1"style="width: 470px;height: 100px;margin: 0px 0px 0px 10px">
        <span class="field__label">写下你想说的话吧：</span>
    </label>
    <br>
    <button v-on:click="fx" style="width: 50px; height:30px;margin: 0px 0px 0px 430px;" >发表</button>
</div>

<div id="app3">
    <br>
    <p>参考网址：</p>
    <a href="http://www.6our.com/">树洞网</a>&nbsp;<a href="http://app.xinli001.com/hole/">壹心理</a>
    <br>
</div>

</body>

<script type="text/javascript" src="main js.js">
</script>

</html>
